{# {% load static %}  #}
{% extends 'html/base.html' %}

{% block title %}
    绳网
{% endblock %}
{% block main %}

    <h1 class="bg-white">今日热门 </h1>
    {#    row-gap-2 行间距2 row-cols-5 列数5#}
    <div class="row row-5 row-gap-3">
        {% for blog in blogs %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'image/logo.png' %}" class="card-img-top" alt="...">
                    <div class="card-header d-flex justify-content-between">
                        <a href="{% url 'blog:blog_detail' blog.id %}"></a>
                        <div>
                            <img src="{% static 'image/logo.png' %}" class="rounded-circle" width="40" height="40"
                                 alt="" href="{% url 'blog:blog_detail' blog.id %}">
                            <span>{{ blog.author.username }}</span>
                        </div>
                    </div>
                    <div class="card-title">
                        <a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'blog:blog_detail' blog.id %}"></a>
                        <p class="card-text">{{ blog.content|truncatechars_html:100 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}